* {
    background-image: linear-gradient(to right, #000536, #080128);
    color: rgb(112, 15, 164);
}

.quote {
    color: grey;
    font-size: 3.25vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1,
.quote,
.btn-use {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-use {
    padding: 40px;
}

.another-quote {
    padding: 22px;
    margin: 20px;
    color: #999999;
    font-weight: bold;
}

.copy {
    padding: 20px 40px;
    margin: 20px;
    color: #999999;
    font-weight: bold;

}